/* Common setting */
body{
    height: 100%;
    overflow: hidden;
    background: #e3f2fd;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Common Content Divs*/
.header_blank_div{
    height: 125px;
}

.small_blank_div {
    height: 50px;
}

.intro_div {
    align-items: center; 
    justify-content: center;
    align-self: center;
    padding-top: 20px;
    height: 150px; 
}

.intro_div h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
}

.footer_blank_div {
    height: 150px;
}

